---
import { Image } from "astro:assets";
import Layout from "../layouts/BlogPost_about.astro";
import ratpic from "../images/dusky-footed-woodrat.jpg";
---

<Layout
	title="Why I Created Viridian Grants"
	description="About Viridian Grants"
	pubDate={new Date("July 01 2025")}
>
	<p>
		<em>&ldquo;No such thing as a free lunch.&rdquo;</em>
	</p>
	<p>
		The first time I heard this expression was when I started my career as a
		grantwriter with the City of Los Angeles. I was surprised at first - I
		had thought the whole appeal of grants was that promise of a free lunch.
	</p>
	<p>
		In theory, yes, grants <strong>should</strong> relieve burdens and remove
		barriers for those who are already struggling financially
	</p>
	<p>
		However, in practice, a single grant can often be so tedious that it
		becomes a full time job. To get a grant, someone has to do the research,
		read the guidelines, and write and submit the applications on time.
		Then, if awarded, they have to read the grant agreement, deliver the
		tasks promised to the grantor, track finances, prepare quarterly
		reports, and satisfy any monitoring requirements.
	</p>
	<p>
		And so, there is indeed no such thing as a free lunch. It takes a
		considerable amount of time and money to manage just a single grant -
		resources that grantseekers generally do not have in the first place.
		This conundrum creates a system where well-established organizations
		with dedicated grants teams have a significant advantage over those
		without.
		<strong
			>I believe that grants should open new doors for those who are most
			capable, passionate, and ambitious - not just for those with the
			staff to write applications. I created Viridian Grants because I
			want to close this gap.
		</strong>
		I want to provide free services to help anyone who is committed to building
		a sustainable and equitable future for all. With my expertise, I believe
		that I can demystify processes and build effective, self-sufficient systems
		for any grantseeker.
	</p>
	<p>
		<strong><em>Grants should remove barriers.</em></strong>
	</p>

	<Image src={ratpic} alt="Dusky-Footed Woodrat" />

	<p>
		<em
			>Thien Phan is the creator of Viridian Grants. He has been a grant
			administrator for the City of Los Angeles since 2019. He is also a
			California-licensed professional civil and environmental engineer.</em
		>
	</p>
</Layout>
